body {
    font-family: sans-serif;
}

/* Nav Bar  */

h1 {
    font-weight: bold;
    font-size: 60px;
    color: tomato;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 p {
    text-align: center;
    width: 500px;
}

h1 p:hover {
    color: rgb(0, 0, 0);
    border-bottom: 5px solid tomato;
    transition: 1s;
}

/* #navbar {
    overflow: hidden;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: tomato;
    z-index: 2;
}

#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 4px;
}

#navbar #logo {

    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 100%;
}

#navbar a:hover {
    background-color: white;
    transition: 1s;
    color: tomato;
}

#navbar-img {
    float: left;
    padding-left: 30px;
}

#navbar-menu {
    margin-left: 30px;
    padding-left: 20px;
    padding-top: 40px;
    float: left;
}

#navbar-icon {
    padding-top: 30px;
    float: right;
    margin-left: 20px;
}

#navbar-icon img {
    padding: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    #navbar-right {
        float: none;
    }
} */
.navbar {
    background-color: #f4511e;
    z-index: 999;
    font-size: 12px !important;
    line-height: 1.4 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}

.navbar .navbar-brand,
.navbar li a {
    color: #fff !important;
    margin: 3px;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 30px;
}

.navbar li a:hover {
    background-color: #fff;
    color: #f4511e !important;
    border-radius: 20px;
    transition: 1s;
    
}
.nav-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.navbar-toggler i{
    font-size:25px;
    color: #fff;

}
@media screen and (max-width:992px){
    .navbar .nav-item a{
        text-align:center;
    }
    .navbar .navbar-nav{
        margin-top:10px;
    }
    .nav-img{
        margin-left: 100px;
    }
    
}

/* Footer */
.footer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/Cravings\ _\ Tips\ &\ Tricks.png);
    background-position: center;
    margin-bottom: 30px;
}

.footer1 {
    width: 35%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer1 img {
    margin: 10px;
}

.footer-icon {
    margin-top: 70px;
    font-size: 20px;
}

.footer-address {
    font-size: 25px;
}

.footer2 {
    width: 35%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer2 img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.footer div {
    margin-top: 30px;
}

.footer3 {
    width: 35%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.footer3 a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.footer3 a:hover {
    color: tomato;
    transition: 1s;
}

.footer3 p {
    margin-top: 20px;
}

#booking-image {
    
    margin-bottom: 2px;
    width: 100%;
    height: 300px;
    background-image: url(../images/photo_2022-09-14_00-24-59.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#booking-image h1 {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.booking-background {
    background-image: url(../images/photo-1414235077428-338989a2e8c0.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

.month {
    padding: 50px 20px;
    width: 100%;
    background-image: url(../images/photo-1414235077428-338989a2e8c0.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;



}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: bold;

}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: tomato;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.days {
    padding: 10px 0;

    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size: 12px;
    color: #777;
    padding: 20px;
    font-size: 25px;
    color: tomato;
    font-weight: bold;

}

.days li:hover {
    background-color: tomato;
    transition: ease 1s;
    color: white;
}

.days li .active {
    padding: 24px 50px;
    background-color: tomato;
    color: white !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

.aa {
    
    margin: 13px;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    float: left;
    
}

#time-table p {
    font-size: 20px;
    line-height: 14px;
    color: #fff;
    padding: 20px;
    border-radius: 3px;
    background-color: tomato;
}
